<div class="container-fluid">

    <form class="row row-cols-sm-auto">
        <div class="col-12">
            <div class="input-group">
                <input type="date" class="form-control" placeholder="{{this.selectedDate}}" name="dp"
                    [(ngModel)]="this.selectedDate" (change)="handleFindByDate()" />
            </div>
        </div>
    </form>
    <br>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Task Detail</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <label for="description">Description</label>
                <div class="input-group">
                    <input id="description" class="form-control" name="taskData" placeholder="Run 5 km ..."
                        [(ngModel)]="this.tempTaskDescription" />
                    <button class="btn btn-outline-secondary bi bi-floppy" (click)="submitTask()"
                        (click)="modal.dismiss('Cross Click')" type="button"></button>
                </div>
            </div>
        </div>
    </ng-template>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Save Task</button>


    <hr />
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Action</th>
                <th>Description</th>
                <th>Creation Time</th>
                <th>Update Time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tempTask of tasks" class="{{tempTask.isDone ? 'table-success':''}} lint-through;">
                <td>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Task Detail</h4>
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="description">Description</label>
                                <div class="input-group">
                                    <input id="description" class="form-control" name="taskData"
                                        placeholder="Run 5 km ..." [(ngModel)]="this.tempTaskDescription">
                                    <button class="btn btn-outline-secondary bi bi-pencil-square"
                                        (click)="update(tempTask)" (click)="modal.dismiss('Cross Click')"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="!tempTask.isDone">
                        <button (click)="open(content)" (click)="tempTaskDescription= tempTask.description"
                            class="btn btn-info"><i class="fa fa-solid fa-pen"></i></button>
                    </div>
                </td>
                <td>{{tempTask.description}}</td>
                <td>{{tempTask.creationTime}}</td>
                <td>{{tempTask.lastUpdate}}</td>
                <td>{{ tempTask.isDone ? 'Done!':'Pending...'}}</td>
                <td>
                    <button (click)="changeStatus(tempTask)" class="btn btn-success"><i
                            class=" fa fa-solid fa-check"></i></button>
                    &nbsp;


                    <ng-template #deleteContent let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <div *ngIf="!tempTask.isDone">
                                    <label>This task hasn't finished yet.</label>
                                    <br>
                                </div>
                                <label for="description">Are you sure want to delete ?</label>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <button class="btn btn-danger bi bi-trash-fill" (click)="deleteTask(tempTask.id)"
                                    (click)="modal.dismiss()" type="button"></button>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <button class="align-center btn btn-secondary" (click)="modal.dismiss('Cross Click')"
                                    type="button"> Cancel </button>

                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-danger" (click)="open(deleteContent)"><i
                            class="fa fa-solid fa-trash"></i></button>
                </td>

            </tr>
        </tbody>
    </table>

    <div *ngIf="tasks?.length===0" class="alert alert-danger col-md-12" role="alert">
        No tasks has been found
    </div>
</div>